<h1 class="title">Requests details</h1>

<%= render @request %>
<br>
<%= link_to 'Back to requests', requests_path %>

<%= render 'comments/form', comment: @comment %>

<% @comments.each do |comment| %>
  <%= render comment %>
<% end %>