// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  text-align: center;
  margin-top: 20px
}

.score-container{
  position: relative;
  clear: both;
  margin-right: 20px
}
.vote{
  position: absolute;
  margin-left: 50%; 
}
#voteup{
  margin-top: -20px;
}
#votedown{
  margin-top: 50%;
}
